# Python build
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
venv/
.env

# Logs
log/
*.log
*.csv

# System
.DS_Store
.idea/
.vscode/

# Streamlit
.streamlit/

# Ignore compiled assets
*.db
*.sqlite

# Dashboard report export
*.pdf
*.png

# OS
Thumbs.db
ehthumbs.db
