# Python build
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
env/
venv/
.venv/

# IDE / Editor configs
.vscode/
.idea/

# Logs & output
log/
*.log
*.csv
*.db

# Env secrets
.env

# Jupyter (如未使用可刪)
.ipynb_checkpoints/

# Test / cache
.pytest_cache/
.mypy_cache/
.cache/
.coverage
